<html>
<link rel="stylesheet" href="/assets/stylee.css"></link>
<br/><br/><br/>

<br/><br/>
<div align="center">
  
  
<%=form_for @asignaturas do |f| %>
<div id="login-form4">
<h3 style = "width: 200px; margin: 1px 1px 10px 400px;"><b><font color="#3700FF">EDITE ASIGNATURA ACADÉMICA</font></b></h3>
<fieldset style = "width: 200px; margin: 10px 50px 65px 400px;">
 <p>
  <div align="center"><%=f.label "NOMBRE"%></div>
  <div align="center"><%=f.text_field :asig_nombre %></div>
</p>

<br/>
 

<p>
  <div align="center"><%=f.label "ABREVIATURA"%></div>
  <div align="center"><%=f.text_field :asig_abreviat %></div>
</p>
<%=  f.submit "GUARDAR" %>
  </fieldset>
</div>
<%end%>


</div>
</body>
</html>


