<html>
<link rel="stylesheet" href="/assets/stylee.css"></link>
<head>
  <script type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
  </script>
</head>
<head>
  <meta http-equiv="Expires" CONTENT="0"></meta>
  <meta http-equiv="Cache-Control" CONTENT="no-cache"></meta>
  <meta http-equiv="Pragma" CONTENT="no-cache"></meta>
</head>
<body onload="noBack(); "
  onpageshow="if (event.persisted) noBack();" onunload="">

<body id="fondopapa">


  

                    

  
  <font color="#3C47E3" face="castellar"> <b>INICIO DE SESIÓN</b> </font>
  <div align="left"><%= link_to "REGRESAR AL MENÚ PRINCIPAL", root_path %></div>
    
              
     <div align="center">                                                               
<b> <font color ="#CF0505"></b>       
       
               <font SIZE="4" FACE="Jokerman">                   
                   <br></br>                                
                <h1>BIENVENIDO AL SISTEMA WEB</h1>
                  <h1>"DE LA UNIDAD EDUCATIVA"</h1>
                <h1>"JUAN PABLO II"</h1>
     </font>                                                                                             
    <b> <font color ="#2C2FDF" FACE="tahoma"></b> 
   
                         
                                      
                      
  <div id="login-form">
    <h3>DATOS DEL ESTUDIANTE:</h3>
    <fieldset>
      
      <%= form_tag sessions_path do %>
        <!--<label form='formulario_cedula'>Ingrese su Usuario:</label>-->
        <%= text_field_tag :username, params[:username], :placeholder=>"Usuario"%>
              
        <!--<label form='formulario_contraseña'>Ingrese su Código:</label>-->
        <%= password_field_tag :password, params[:password], :placeholder=>"Contraseña"%>
    
        <%= submit_tag "Entrar"%>
        <br/>
        <footer class="clearfix">
          <p><span class="info">?</span><%= link_to '¿Olvidó su Clave?', new_password_reset_path %></p>
        </footer>

      <%end%>
    </fieldset>
  </div>
</body>
    
    </body>
    

  </html>
   