<%#= "_mensaje" %>
<%#= :asig%>
<%#*<script type="text/javascript"> //SOLO NUMEROS%>
  <%#*function ValidNum(e) {%>
    <%#*alert(e);%>
    <%#*alert(String.fromCharCode(e.target.value));%>
    <%#*alert(this.val);%>
    <%#*var tecla= document.all ? tecla = e.keyCode : tecla = e.which;%>
    <%#*var numero= document.all ? numero = e.keyCode : numero = e.target.value;%>
    <%#*//var obj_numero = document.getElementById(e.target.id);%>
    <%#*//var numero = obj_numero.value%>
    <%#*/*alert(e.keyCode);%>
    <%#*alert(e.target.value);%>
    <%#*alert(numero);*/%>
    <%#*return ((tecla > 47 && tecla < 58) || tecla == 46 || tecla ==8 || tecla == '\t');%>
<%#*}%>
<%#*</script>%>
<script type="text/javascript"> //SOLO NUMEROS
  function ValidNum(e) {
    var tecla= document.all ? tecla = e.keyCode : tecla = e.which;
    return ((tecla > 47 && tecla < 58) || tecla == 46 || tecla ==8 || tecla == '\t');
}
</script>

<script>
  $(document).change(function() {
    //variables para calcular promedio
    var materias_arr = document.getElementsByClassName("materias");
    var deberes_arr = document.getElementsByClassName("tareas");
    var trabajos_arr = document.getElementsByClassName("act_indivs");
    var aportes_arr = document.getElementsByClassName("act_grups");
    var lecciones_arr = document.getElementsByClassName("lecciones");
    var examenes_arr = document.getElementsByClassName("examenes");
    var total_arr = document.getElementsByClassName("totales");
    var promedio_arr = document.getElementsByClassName("promedios");

    var deberes_cualit_arr = document.getElementsByClassName("tareas_cualit");
    var trabajos_cualit_arr = document.getElementsByClassName("act_indivs_cualit");
    var aportes_cualit_arr = document.getElementsByClassName("act_grups_cualit");
    var lecciones_cualit_arr = document.getElementsByClassName("lecciones_cualit");
    var examenes_cualit_arr = document.getElementsByClassName("examenes_cualit");
    var promedio_cualit_arr = document.getElementsByClassName("promedios_cualit");

    //calcula promedio
    function calcula_promedio(recorrido, iden, val1, val2, val3, val4, val5){
      //$('#'+iden).val(val1);
      //$('#'+iden_unit).val(valor2);
      deberes_arr[recorrido].value = val1;
      if (val1 == 10)
        { deberes_cualit_arr[recorrido].value = "SAR";}
      else
        {
          if (val1 == 9)
          { deberes_cualit_arr[recorrido].value = "DAR";}
          else
            {
              if (val1 >=6.99  && val1 <= 8)
              { deberes_cualit_arr[recorrido].value = "AAR";}
              else
                {
                  if (val1 >= 5 && val1 <= 6)
                    { deberes_cualit_arr[recorrido].value = "EPAAR";}
                    else
                      {
                        if (val1 <= 4)
                          { deberes_cualit_arr[recorrido].value = "NAAR";}
                      }
                }
            }
        }

      lecciones_arr[recorrido].value = val2;
      if (val2 == 10)
        { lecciones_cualit_arr[recorrido].value = "SAR";}
      else
        {
          if (val2 == 9)
          { lecciones_cualit_arr[recorrido].value = "DAR";}
          else
            {
              if (val2 >=6.99  && val2 <= 8)
              { lecciones_cualit_arr[recorrido].value = "AAR";}
              else
                {
                  if (val2 >= 5 && val2 <= 6)
                    { lecciones_cualit_arr[recorrido].value = "EPAAR";}
                    else
                      {
                        if (val2 <= 4)
                          { lecciones_cualit_arr[recorrido].value = "NAAR";}
                      }
                }
            }
        }

      trabajos_arr[recorrido].value = val3;
      if (val3 == 10)
        { trabajos_cualit_arr[recorrido].value = "SAR";}
      else
        {
          if (val3 == 9)
          { trabajos_cualit_arr[recorrido].value = "DAR";}
          else
            {
              if (val3 >=6.99  && val3 <= 8)
              { trabajos_cualit_arr[recorrido].value = "AAR";}
              else
                {
                  if (val3 >= 5 && val3 <= 6)
                    { trabajos_cualit_arr[recorrido].value = "EPAAR";}
                    else
                      {
                        if (val3 <= 4)
                          { trabajos_cualit_arr[recorrido].value = "NAAR";}
                      }
                }
            }
        }

      aportes_arr[recorrido].value = val4;
      if (val4 == 10)
        { aportes_cualit_arr[recorrido].value = "SAR";}
      else
        {
          if (val4 == 9)
          { aportes_cualit_arr[recorrido].value = "DAR";}
          else
            {
              if (val4 >=6.99  && val4 <= 8)
              { aportes_cualit_arr[recorrido].value = "AAR";}
              else
                {
                  if (val4 >= 5 && val4 <= 6)
                    { aportes_cualit_arr[recorrido].value = "EPAAR";}
                    else
                      {
                        if (val4 <= 4)
                          { aportes_cualit_arr[recorrido].value = "NAAR";}
                      }
                }
            }
        }

      examenes_arr[recorrido].value = val5;
      if (val5 == 10)
        { examenes_cualit_arr[recorrido].value = "SAR";}
      else
        {
          if (val5 == 9)
          { examenes_cualit_arr[recorrido].value = "DAR";}
          else
            {
              if (val5 >=6.99  && val5 <= 8)
              { examenes_cualit_arr[recorrido].value = "AAR";}
              else
                {
                  if (val5 >= 5 && val5 <= 6)
                    { examenes_cualit_arr[recorrido].value = "EPAAR";}
                    else
                      {
                        if (val5 <= 4)
                          { examenes_cualit_arr[recorrido].value = "NAAR";}
                      }
                }
            }
        }

      total_arr[recorrido].value = parseFloat(deberes_arr[recorrido].value) + parseFloat(lecciones_arr[recorrido].value) + parseFloat(trabajos_arr[recorrido].value) + parseFloat(aportes_arr[recorrido].value) + parseFloat(examenes_arr[recorrido].value);

      promedio_arr[recorrido].value = parseFloat(parseFloat(total_arr[recorrido].value)/5)
      var val6 = parseFloat(parseFloat(total_arr[recorrido].value)/5)
      if (val6 == 10)
        { promedio_cualit_arr[recorrido].value = "SAR";}
      else
        {
          if (val6 == 9)
          { promedio_cualit_arr[recorrido].value = "DAR";}
          else
            {
              if (val6 >=6.99  && val6 <= 8)
              { promedio_cualit_arr[recorrido].value = "AAR";}
              else
                {
                  if (val6 >= 5 && val6 <= 6)
                    { promedio_cualit_arr[recorrido].value = "EPAAR";}
                    else
                      {
                        if (val6 <= 4)
                          { promedio_cualit_arr[recorrido].value = "NAAR";}
                      }
                }
            }
        }
    }

    //
    for (var i = 0; i < materias_arr.length; i++) {
      var current_deber_id = deberes_arr[i].id;
      /*var current_actuacion_id = actuaciones_arr[i].id;
      var current_leccion_id = lecciones_arr[i].id;
      var current_examen_id = examenes_arr[i].id;*/
      var deber = $('#'+deberes_arr[i].id).val();
      var leccion = $('#'+lecciones_arr[i].id).val();
      var trabajo = $('#'+trabajos_arr[i].id).val();
      var aporte = $('#'+aportes_arr[i].id).val();
      var examen = $('#'+examenes_arr[i].id).val();
      //alert(deberes_arr[i].id)

      $('#'+deberes_arr[i].id).change({arr_rec: i, arr_id: current_deber_id, val1: deber, val2: leccion, val3: trabajo, val4: aporte, val5: examen},function(event) {
        calcula_promedio(event.data.arr_rec, event.data.arr_id, $(this).val(), event.data.val2, event.data.val3, event.data.val4, event.data.val5);
      });

      $('#'+lecciones_arr[i].id).change({arr_rec: i, arr_id: current_deber_id, val1: deber, val2: leccion, val3: trabajo, val4: aporte, val5: examen},function(event) {
        calcula_promedio(event.data.arr_rec, event.data.arr_id, event.data.val1, $(this).val(), event.data.val3, event.data.val4, event.data.val5);
      });

      $('#'+trabajos_arr[i].id).change({arr_rec: i, arr_id: current_deber_id, val1: deber, val2: leccion, val3: trabajo, val4: aporte, val5: examen},function(event) {
        calcula_promedio(event.data.arr_rec, event.data.arr_id, event.data.val1, event.data.val2, $(this).val(), event.data.val4, event.data.val5);
      });

      $('#'+aportes_arr[i].id).change({arr_rec: i, arr_id: current_deber_id, val1: deber, val2: leccion, val3: trabajo, val4: aporte, val5: examen},function(event) {
        calcula_promedio(event.data.arr_rec, event.data.arr_id, event.data.val1, event.data.val2, event.data.val3, $(this).val(), event.data.val5);
      });

      $('#'+examenes_arr[i].id).change({arr_rec: i, arr_id: current_deber_id, val1: deber, val2: leccion, val3: trabajo, val4: aporte, val5: examen},function(event) {
        calcula_promedio(event.data.arr_rec, event.data.arr_id, event.data.val1, event.data.val2, event.data.val3, event.data.val4, $(this).val());
      });
    }



   

   /* for (var i = 0; i < avaluos.length; i++) {
      var nombre_avaluo = avaluos[i].textContent;
      var current_area_id = areas[i].id;
      var current_unit_id = unitarios[i].id;
      var area = $('#'+areas[i].id).val();
      $('#'+unitarios[i].id).change({arr_rec: i, nom: nombre_avaluo, val1: area, area_id: current_area_id, unitario_id: current_unit_id},function(event) {
        actualiza_areas(event.data.area_id, event.data.unitario_id, event.data.arr_rec, event.data.val1, $(this).val());
      });
    }*/
});
</script>
<table>
  <tr align="center">
      <td rowspan="2">Asignaturas</td>
      <td align="center" colspan ="2">TAREAS</td>
      <td align="center" colspan ="2">A.INDIVIDUAL</td>
      <td align="center" colspan ="2">A.GRUPAL</td>
      <td align="center" colspan ="2">LECC</td>
      <td align="center" colspan ="2">E.PARCIAL</td>
      <td align="center" colspan ="2">PROM.PAR</td>
      <td align="center" rowspan="2">CONDUCTA</td>
    </tr>
    <tr>
      <td>CUANT</td>
      <td>CUALIT</td>
      <td>CUANT</td>
      <td>CUALIT</td>
      <td>CUANT</td>
      <td>CUALIT</td>
      <td>CUANT</td>
      <td>CUALIT</td>
      <td>CUANT</td>
      <td>CUALIT</td>
      <td>CUANT</td>
      <td>CUALIT</td>
    </tr>
 <%#= form_tag homologacion_notas_path, :method => 'get' do%>
  <%@asignaturas.each do |a|%>
    <tr>
    <td><%= label_tag nil, a.asig_nombre, :class=>"materias" %></td>

    <td><div onkeypress="return ValidNum(event)"><%= text_field_tag "tarea[]", 0, :class => "tareas", :id => "tareas_"+ "#{a.id}", :style => "width:50px"%></div></td>
    <td><%= text_field_tag "cualitativos", 0, :class => "tareas_cualit", :id => "tareas_cualit_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>

    <td><div onkeypress="return ValidNum(event)"><%= text_field_tag "act_indiv[]", 0, :class => "act_indivs", :id => "act_indivs_"+ "#{a.id}", :style => "width:50px"%></div></td>
    <td><%= text_field_tag "cualitativos", 0, :class => "act_indivs_cualit", :id => "act_indivs_cualit_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>

    <td><div onkeypress="return ValidNum(event)"><%= text_field_tag "act_grup[]", 0, :class => "act_grups", :id => "act_grups_"+ "#{a.id}", :style => "width:50px"%></div></td>
    <td><%= text_field_tag "cualitativos", 0, :class => "act_grups_cualit", :id => "act_grups_cualit_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>

    <td><div onkeypress="return ValidNum(event)"><%= text_field_tag "leccion[]", 0, :class => "lecciones", :id => "lecciones_"+ "#{a.id}", :style => "width:50px"%></div></td>
    <td><%= text_field_tag "cualitativos", 0, :class => "lecciones_cualit", :id => "lecciones_cualit_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>

    <td><div onkeypress="return ValidNum(event)"><%= text_field_tag "examen[]", 0, :class => "examenes", :id => "examenes_"+ "#{a.id}", :style => "width:50px"%></div></td>
    <td><%= text_field_tag "cualitativos", 0, :class => "examenes_cualit", :id => "examenes_cualit_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>

    <%= hidden_field_tag "total[]", 0, :class => "totales", :id => "totales_"+ "#{a.id}", :readonly => "true"%>

    <td><%= text_field_tag "promedio[]", 0, :class => "promedios", :id => "promedios_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>
    <td><%= text_field_tag "cualitativo[]", 0, :class => "promedios_cualit", :id => "promedios_cualit_"+ "#{a.id}", :readonly => "true", :style => "width:50px"%></td>

    <td><%= text_field_tag "conducta[]", 0, :class => "conductas", :id => "conductas_"+ "#{a.id}", :style => "width:50px"%></td>
    </tr>
    <%= hidden_field_tag "asignatura_ids[]", a.id %>
  <%end%>
    <%= hidden_field_tag :contador_asig, @asig_count %>
    <%= hidden_field_tag :curso_id, @curso.id %>
    <%= hidden_field_tag :periodo_fecha, @periodo.period_fech_ini %>
    <%= hidden_field_tag :persona_id, @persona.id %>

    <%= @asig_count %>
    <%= @persona.id %>
    <%= @periodo.period_fech_ini %>
    <%= @curso.id %>

    <tr>
      <td colspan="14"><center><%= submit_tag "Guardar"%></center></td>
    </tr>
    <%#= @asig_count %>
 <%#end%>
</table>