<html>                           
  <head>
    <script type="text/javascript" src="../scripts/javascript.js"></script>    
  </head>  
  <body>       
    <div id="pagina" style="background-image: url(/assets/popis111.jpg); height: 506px; width: 1300px; border: 1px solid black;">          
      
      
<h1><center>CURRICULUM</center></h1>
<% @estudio.each do |f| %>         
  <table align="center">        
    
    <tr>
      <td align="center"><font color="1038FF" SIZE="3"><b>NIVELES</b></font></td>
      <td align="center"><font color="1038FF" SIZE="3"><b>INSTITUTOS</b></font></td>
      <td align="center"><font color="1038FF" SIZE="3"><b>TITULOS OBTENIDOS</b></font></td>
      <td align="center"><font color="1038FF" SIZE="3"><b>EXPERIENCIA LABORAL</b></font></td>
    </tr>


<td><FONT SIZE="2"><%=f.est_nivel %></FONT></td>
<td><FONT SIZE="2"><%=f.est_instituto %></FONT></td>
<td><FONT SIZE="2"><%=f.est_titulos %></FONT></td>

<%end%>  
 
<% @laboral.each do |f| %>
<td><FONT SIZE="2"><%=f.rel_lab_inst_nomb %></FONT></td>   

<tr>
<td align="center"><%= link_to "EDITAR CURRICULUM", edit_secretariasi_path(f) %></td>  
</tr>
</table>
 
<%end%>  

</div>
 </body>
 </html>