    <%= notice %>
<p>NIVELES---><%= @estudios.est_nivel %></p>
<p>INSTITUTOS---><%= @estudios.est_instituto %></p>
<H1>TITULOS OBTENIDOS---><%= @estudios.est_titulos %></H1>


<p>EXPERIENCIA LABORAL---><%= @laborals.rel_lab_inst_nomb %></p>
