<html>
  <head>
    <link rel="stylesheet" href="/assets/stylee.css"></link>
    </head>
<body bgcolor="#FFEFEF">
<br/>

  <center><h1>EDITE MALLA CURRICULAR</h1></center>
<div align="center">
<%=form_tag  mallactual_path do %>
  <div id="login-form4">
     <fieldset style = "width: 700px; margin: 50px 50px 65px 310px;">   
<h3 style = "width: 300px; margin: 1px 1px 10px 1px;"><b><font color="#3700FF">TIPO DE MALLA</font></b></h3>
    

 
<table>
  <% @clase.each do |clase| %>
<tr>
<td>
  <%if @mallas.clase_id == clase.id%>
    <%= radio_button_tag(:clase, clase.id, checked = true, options = {:disabled => true})%><%= clase.tip_mall_descrip %>
  <%else%>
    <%= radio_button_tag(:clase, clase.id, checked = false, options = {:disabled => true})%> <%= clase.tip_mall_descrip %>
  <%end%>
</td>
</tr>
<% end %>
</table>
<br>


<table><h3 style = "width: 300px; margin: 1px 1px 10px 1px;"><b><font color="#3700FF">NIVEL</font></b></h3>
<% @nivel.each do |niv| %>
<tr>
<td> 
  <%if @nivel_actual.id == niv.id%>
    <%= radio_button_tag(:nivel, niv.id, true, options = {:disabled => true})%><%= niv.nivel_numero %>-<%=  niv.nivele.tip_niv_nombre %>
  <%else%>
    <%= radio_button_tag(:nivel, niv.id, false, options = {:disabled => true})%> <%= niv.nivel_numero %>-<%=  niv.nivele.tip_niv_nombre %>
  <%end%>

</td>
</tr>
<%end%>
</table>
<br>




 <h3 style = "width: 300px; margin: 1px 1px 10px 1px;"><b><font color="#3700FF">ESCOJA LA ASIGNATURA</font></b></h3>
  <table border="3" align="justify" >
   <td> <%@asignatura.each do |asignatura|%>
      <%msg="false"%>
        <%@asig_actual.each do |asig|%>
          <%if asig.id == asignatura.id%>
            <%msg="true"%>
            <%=check_box_tag("asignaturas[]", asignatura.id, checked = true)%><%=asignatura.asig_nombre%>
            <%= hidden_field_tag "asig_actuals[]", asig.id %>
          <%end%>
      <%end%>
      <%if msg == "false"%>
        <%=check_box_tag("asignaturas[]", asignatura.id, checked = false)%><%=asignatura.asig_nombre%>
      <%end%>
    <%end%>
  </td>   
  </table>
 <%= hidden_field_tag :nivel_actual, @nivel_actual.id %>
 <%= hidden_field_tag :malla_actual, @mallas.id %>
  <%#= @nivel_actual.id %>
  <%#= @mallas.id %>
 <%= submit_tag "GUARDAR" %>
 </fieldset>
  </div>
<%end%>
 
</div>
</body>
</html>