<%# @mallas.each do |malla| %>          
   <%#*<center> CALIFICACIONES ACADÉMICAS </center>%>
  <%# end %>

<%#*<table border="3" align="justify" >%>     
<%# @asignatura.each do |f| %>
     
<%#*<tr>%> 
<%#*<td><%=f.asig_nombre %>
<%#*<td><%= "ACTUACION"  %>
<%#*<td><%= "19"  %>
<%#*<td><%= "DEBERES"  %>
<%#*<td><%=  "18" %>  
<%#*<td><%=  "EXAMEN" %>  
<%#*<td><%=  "20" %>  
<%#*<td><%=  "PROMEDIO TOTAL" %>
<%#*<td><%=  "20" %>
<%#end%>
  <%#*</table>%>